body {
  background-color: #bbe4e9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  margin: 60px auto;
  max-width: 800px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
h1 {
  line-height: 1.5;
  font-weight: 600;
  font-size: 32px;
  color: #53a8b6;
  text-align: center;
}
.ingredient {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bbe4e9;
  width: 70%;
  font-size: 14px;
}
.submit {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #53a8b6;
  border: 0;
  color: white;
  font-size: 14px;
}
.form-container {
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
}
form {
  margin: 0;
  display: flex;
}
small {
  font-size: 10px;
}
.recipe-placeholder {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 100px;
  background-color: #bbe4e9;
  opacity: 0.3;
  font-size: 14px;
  line-height: 1.5;
  border-left: 2px solid #53a8b6;
}

.hide {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  color: black;
  text-align: center;
  font-size: 8px;
  margin-top: 30px;
}
